<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>Sign Up</h1>
        <div id="form">
            <div class="input-group">
                <label for="username">E-mail:</label>
                <input type="text" id="email" [(ngModel)]="email" name="email" placeholder="Enter your E-mail">
            </div>
            <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" id="username" [(ngModel)]="username" name="username" placeholder="Enter your username">
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Enter your password">
            </div>
            <button type="submit"(click)="validateForm()">Login</button>
            <p id="error">{{Error}}</p>
            <p>Have an account?<a href="profile">Login</a></p>
        </div>
    </div>

</body>

</html>