body{
    overflow: hidden;
    background-color: black;
}

#searchbox{
    height: 20vh;
    background-color: black;
    border-color: #ff6b6b;
    border-style: solid;
    overflow-y: scroll;
    width: 98vw;
}

#post{
    background-color: rgb(53, 53, 53);
    border-radius: 10px;
    padding: 2px;
    margin: 10px;
}

#searchtitle:hover{
    text-decoration: underline;
    cursor: pointer;
    color:#ff6b6b;

}




.blog-container {
    height: 88vh;
    overflow-y: auto;
    padding: 20px;
    background-color: #333; /* Light pink background */
  }
  
  .blog-content {
    background-color: #000; /* Lighter pink background for content */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(177, 176, 176, 0.1);
  }
  
  .blog-content h2 {
    color: #e74c3c; /* Pink text color for headings */
    margin-bottom: 10px;
  }
  
  .blog-content p {
    color: #ae9898; /* Dark text color for paragraphs */
    margin-bottom: 15px;
  }
  
  .blog-text {
    color: white; /* Dark text color for blog content */
    line-height: 1.6;
  }
  
  .go-back-btn {
    margin-bottom: 20px;
  }
  
  .go-back-btn a {
    background-color: #e74c3c; /* Pink background color for link */
    color: #fff; /* White text color for link */
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none; /* Remove underline from link */
    transition: background-color 0.3s ease;
  }
  
  .go-back-btn a:hover {
    background-color: #c0392b; /* Darker pink on hover */
  }